@import "tailwindcss";
@import 'highlight.js/styles/github-dark.css';

.custom-prose {
    /* Base styles */
    color: white;
    line-height: 1.7;
    font-size: 1rem;
  }
  
  .custom-prose h1,
  .custom-prose h2,
  .custom-prose h3 {
    color: white;
    font-weight: 700;
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
  }
  
  .custom-prose p {
    margin-bottom: 1rem;
    color: #d1d5db; /* Tailwind gray-300 */
  }
  
  .custom-prose ul {
    list-style-type: disc;
    padding-left: 1.25rem;
    margin-bottom: 1rem;
  }
  
  .custom-prose li {
    margin-bottom: 0.5rem;
  }
  
  .custom-prose a {
    color: #60a5fa; /* Tailwind blue-400 */
    text-decoration: underline;
  }
  
  .custom-prose pre {
    font-size: 0.9rem;
  }
